<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

<meta charset ="UTF-8">
<meta http-equiv="X-UA Compatible" content = "IE=edge">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<title>Admin Dashboard</title>
</head>

<body>
  <nav>
    <div class ="logo-name">
      <div class="logo-image"> 
        <img src="logo.png">

      </div>
      <span class="logo_name"><b>AQCELLOR</b></span>

      </div>
      <div class="menu-items">
        <ul class="nav-links">
          <li>
            <a href="#">
              <i class="uil uil-estate"></i>
            <span class="link-name">Dashboard</span>
          </a>
          </li>
          <li>
            <a href="/adminapi/adminview">
              <i class="uil uil-user-plus"></i>
            <span class="link-name">Onboarding</span>
          </a>
          </li>
          <li>
            <div class="dropdown">
              <a href="" class="dropbtn">
                <i class="uil uil-book-open"></i>
                <span class="link-name">Accelerator Program</span>
              </a>
              <div class="dropdown-content">
                <a href="/programme/visit">Program Visit</a>
                <a href="/programme/view">Program View</a>
              </div>
          </a>
          </li>
          <li>
            <a href="/programme/view">
              <i class="uil uil-schedule"></i>
               <span class="link-name">Schedule Event</span>
          </a>
          </li>
          </ul>
      

        <ul class="logout-mode">
        <li>
          <a href="#">
            <i class="uil uil-signout"></i>
          <span class="link-name">Logout</span>
        </a>
        </li>
        <li class="mode">
          <a href="#">
            <i class="uil uil-moon"></i>
          <span class="link-name">Change Mode</span>
        </a>
        <div class="mode-toggle">
        <span class="switch"></span>
      </div>
        </li>
        </ul>
      </div>
  </nav>

  <section class="dashboard">
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>

      <div class="search-box">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Search here">

      </div>
      <img src="profile.jpeg" alt="">
    </div>

    <div class="dash-content">
      <div class="overview">
        <div class="title">
          <i class="uil uil-tachometer-fast-alt"></i>
          <span class="text">Admin Dashboard</span>
        </div>

        <div class="user-view">
          <div class="title">
            <p class="user-view-title">View User Details</p>
          </div>
          <table border="1"class="user-table">
            <tr>
              <th >User ID</th>
              <th >Full Name</th>
              <th >Email Adress</th>
              <th >Address</th>
              <th >Business Type</th>
              <th >More Details</th>
            </tr>
            <% data.forEach(user => { %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.Name %></td>
                <td><%= user.email %></td>
                <td><%= user.Address %></td>
                <td><%= user.Businesstype %></td>
                <td><a href="/adminapi/user/<%= user.id %>">View Details</a></td>
                
              </tr>
            <% }); %>
          </table>

        </div>
        
 
</section>
      <script src="script.js"></script>
  
  
</body>
</html>
